.Container {    
    min-height: 100vh;
    background-color: #ffde40;
    z-index: 1;
    padding-top: 142px;
    padding-bottom: 16rem;
}

.Wrapper {
    max-width: 920px;
    margin: 0 auto;
}

.Title {
    display: flex;
    align-items: flex-end;
    height: 597px;
    background-image: url('../images/orig.png');
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat; 
}

.Title p {
    color: rgba(33, 32, 31, 1);
    font-family: YandexSansTextBold;
    font-size: 36px;
    width: 548px;
    font-weight: 900;
    line-height: 1.1;
}

.Download {
    height: 92px;
    padding-top: 34px;
}

.Download button {
    height: 80px;
    width: 362px;
    font-family: YandexSansTextRegular;
    border-radius: 24px;
    font-size: 24px;
    padding-top: .25em;
}

.SoFarOnly {
    display: flex;
    height: 230px;
    font-size: 64px;
    color: white;
    margin-top: 70px;
    padding-left: 2.5rem;
}

.SoFarOnlyBG {
    display: flex;
    width: 100%;
    height: 100%;
    background-image: url('../images/sofaronly.svg');
    background-size: contain;
    background-repeat: no-repeat; 
}

.SoFarOnly p {
    font-weight: 600;
    padding-top: .5em;
    line-height: 1.14;
    margin-left: -2.5rem;
}

.HowToRent {
    padding-top: 128px;
}

.HowToRent h1 {
    font-size: 64px;
    font-family: YandexSansTextBold;
}

.AppUse {
    display: flex;
	justify-content: space-between;
    margin-top: 96px;
}

.PushButton p {
    font-family: YandexSansTextBold;
	font-size: 36px;
    font-weight: 600;
    line-height: 1.1;
	margin-top: 32px;
	max-width: 455px;
}

.AppUseRight {
	top: 171px;
	left: calc(50% + 105px);
	border-radius: 56px;
}

.AngularArrow {
    margin-top: -305px;
    margin-left: 389px;
}

.ReadyGo {
    height: 179px;
    width: 100%;
    font-size: 40px;
    font-family: YandexSansTextBold;
    font-weight: 600;
    width: 100%;
    margin-top: 36px;
    padding: 41px 64px 50px;
    border-radius: 56px;
}
.Swiper {
    display: flex;
    justify-content: flex-end;
    padding-top: 128px;
    border-radius: 32px;
}

.Swiper video {
    height: 414px;
    width: 734px;
    border-radius: 32px;
    right: 0;
    margin-right: -93px;
}

.RideGently {
    min-height: 50vh;
    background-color: white;
    padding: 56px 0 264px 93px;
    width: 920px;
    border-radius: 56px;
    margin-top: -44px;
    margin-left: -93px;
}

.RideGently {
    font-size: 56px;
    margin-bottom: 72px;
    font-family: YandexSansTextBold;
    font-weight: 600;
}

.Row {
	display: flex;
	margin-bottom: 96px;
}

.RowItem {
	max-width: 362px;
	margin-right: 93px;
}

.RowItem h4 {
    font-size: 36px;
    margin-bottom: 16px;
    margin-top: 0;
    font-family: YandexSansTextBold;
    font-weight: 600;
    line-height: 1.1;
}

.RowItem p {
    font-size: 21px;
    font-family: YandexSansTextBold;
    font-weight: 300;
}

.LifeEnshurance {
    background: #00CA50;
    width: 475px;
    padding: 83px;
    border-radius: 56px;
    margin-top: -23.5rem;
    margin-left: 23.5rem;
    line-height: 1.4;
}

.LifeEnshurance p {
    font-family: YandexSansTextBold;
    font-size: 30px;
    color: #fff;    
}

.LifeEnshurance a {
    font-family: YandexSansTextBold;
    color: white;
    font-weight: 400;
}
